[2020-11-02 12:02] MauriceZeuner opened #1 "Anti-Virus software identifies "build-script-build.exe" as malware"
Hi,

is it a known problem that Anti-Virus software (such as Kaspersky Internet Security for instance) think that the

AtomECS-master\target\rls\debug\build\crossbeam-epoch-9c14771e7fefb252\build-script-build.exe

is some sort of malware? It is a bit annoying since it always forces me to "desinfect" (aka delete) files from the project directory. Moreover, because the Anti-Virus software "keeps" th

[2020-11-06 11:32] #1 closed, assigned to ElliotB256, MauriceZeuner

[2020-11-26 18:44] ElliotB256 opened #2 "Thread panics while panicking on most recent toolchain"
On most recent toolchain, running AtomECS gives a long error which ends in:
`thread panicked while panicking. aborting.`

As a temporary fix, use the stable toolchain from 2020-06-17. Type the following into the console:
[code]

[2021-01-25 21:20] ElliotB256 opened #3 "Swap `specs` for another rust ECS"
Performance is slightly better with Legion than specs (Amethyst has now dropped specs and is moving to Legion). Consider moving to Legion.
https://github.com/amethyst/legion

[2021-01-26 16:22] ElliotB256 opened #4 "Improve documentation"
We have to redocument the newer classes, as sometimes doc coverage has been lost due to changes (all in the name of progress, which is good :) )

Make sure the final code is consistent with `cargo doc --open`.

[2021-01-27 16:18] ElliotB256 opened #5 "Fluctuation option in red-mot"
Hey Maurice,

We now have `ApplyEmissionForceOption` which enables to use of random emission kicks required for recoil limit and part of the Doppler limit.

I say _part_ of Doppler T, because even with this option disabled the simulation will still draw random numbers from the mean dists, and so there will be fluctuations in the absorption forces. That contributes part of the Doppler T.

Suggested

[2021-02-04 10:45] ElliotB256 opened #6 "Discontinuity for behaviour in `red-mot` at weak scattering"
It looks like the scattering force abruptly cuts off at weaker scattering. Running `plot_molasses.m` with more points illustrates this well:
![image](https://user-images.githubusercontent.com/7041164/106881879-fafec580-66d5-11eb-85f2-93d9b102e868.png)
You can see that for velocities above ~22 the force abruptly cuts to zero.

I expect this is related to the Poisson implementation when the mean is

[2021-02-04 14:51] ElliotB256 opened #7 "Recoil limit and `ApplyEmissionForceSystem`"
The current `ApplyEmissionForceSystem` uses a normal distribution when the number of scattered photons N > 5. I don't think this respect recoil limit for reasons we have discussed beforehand.

The code runs faster when you approximate N kicks with a normal distribution, and the recoil limit isn't applicable for some systems. Let's add an optional flag to either always perform individual kicks, or

[2021-02-04 15:46] ElliotB256 opened #8 "Velocity-Verlet integrator"
Euler integration is currently used - it's straightforward but has terrible integration error. I'll change it so that AtomECS uses Velocity-Verlet by default. VV has much smaller integration error. This is particularly important for future thermodynamic simulations of atoms in traps, as integration error leads to heating similar to parametric excitation.

I'll admit I thought we were already using

[2021-02-04 21:59] #5 closed, assigned to MauriceZeuner

[2021-02-09 11:40] ElliotB256 opened #9 "Profiling for red-mot"
Starting to profile the latest changes to `red-mot` to get a head start on optimisations.

Interestingly, it seems _the vast majority_ of program time was being taken up by rayon implementations - specifically `SwitchToThread` and `SleepConditionVariableSRW`. There was also poor spin time.
![image](https://user-images.githubusercontent.com/7041164/107358421-44cb1f80-6acb-11eb-86d4-2e103eada9bb.png

[2021-02-10 09:05] ElliotB256 opened #10 "Consistent options"
There are currently a number of ways of configuring simulation options which should be standardised in format. For instance, we currently have `EnableScatteringFluctuations` and `ApplyEmissionForceOption`, which are dissimilar naming conventions and should be made consistent.

The options also currently favor speed over accuracy. I propose we change it so that accuracy is favored over speed; users

[2021-02-14 12:36] #6 closed, assigned to MauriceZeuner

[2021-02-14 16:10] ElliotB256 opened #11 "Long-ranged forces"
Long-ranged forces are important for 3D MOTs with lots of atoms, as the repulsive forces reduce the phase space density.

Some thoughts:
* May need to use a `MacroAtom` approach, where relevant quantities like repulsive forces are scaled so that a small number of atoms can simulate the PSD of an (intractable) larger number of atoms.
* Force goes as 1/r^2 which is long ranged and a real pain to par

[2021-02-15 15:49] #9 closed, assigned to nobody

[2021-02-16 16:14] ElliotB256 opened #13 "Breakout Matlab/Python directories into separate projects"
Makes much more sense, this is already half done for the Matlab scripts (some of which are being used to analyse examples for the accompanying paper).

[2021-02-17 19:28] ElliotB256 opened #14 "s-wave collisions"
To simulate evaporation in optical/magnetic traps, AtomECS requires a way to calculate the effects of short-ranged (eg, s-wave) collisions.
Given that the collisions are short-ranged, all methods used should a spatial binning method for speed.
Beyond that, there are subtle variations in the implementation details, and we could support a number of approaches:

1. Monte-Carlo method: determine a num

[2021-02-18 22:57] MauriceZeuner opened #15 "Frequency or angular frequency for linewidth?"
We are unsure if the total scattering rate in `photons_scattered.rs` should be calculated with the linewidth in Hertz or angular units. The same question has been raised for the two-level excited state population in `twolevel.rs` where the Einstein A coefficient is used.

The corresponding section in C. Foot:  7.5.2

[2021-03-23 19:50] MauriceZeuner opened #19 "2 Unit tests fail (master!) for magnetic field samplers / systems"
I actually just wanted to see if an error that I encountered on the dipole branch also happens to be in the master branch (good news: it's not) but I noticed that when I ran `cargo test`, two tests fail, namely:

`magnetic::tests::test_field_samplers_are_added`
`magnetic::tests::test_magnetics_systems`

I am happy to look for a solution if no one else feels responsible or has time but I thought it

[2021-03-25 12:48] ElliotB256 opened #20 "Fix examples"
1d MOT is currently broken - it's probably related to the fact that `ScatteringFluctuationsOption::Off` can give NaNs

[2021-03-26 19:51] #13 closed, assigned to nobody

[2021-03-26 19:52] #8 closed, assigned to d-garrick

[2021-03-26 19:52] #10 closed, assigned to MauriceZeuner

[2021-03-26 19:52] #15 closed, assigned to MauriceZeuner

[2021-03-29 16:05] #19 closed, assigned to MauriceZeuner

[2021-03-29 16:19] ElliotB256 opened #21 "Test failing: laser::rate::tests::test_calculate_rate_coefficients_system"
Hey @MauriceZeuner ,

Could you check and fix this unit test? It's been broken since I fixed the scattering rates, so I'm confident it's the test is outdated rather than the implementation (for instance, the integration test for scattering rate is working fine and agrees with the analytic formulae).

Cheers!

[2021-03-29 16:20] ElliotB256 opened #22 "Dipole force traps"
@MauriceZeuner is working on a dipole force trap implementation

[2021-03-29 16:21] #4 closed, assigned to MauriceZeuner

[2021-03-29 21:54] ElliotB256 commented on #21
I've set up CI for the repository now we are public, so please feel free to push the fix for the test directly to master.

[2021-03-29 21:57] MauriceZeuner commented on #21
Hi Elliot,

will do that tomorrow, brain still too mushy today - what is a CI?

Best,
Maurice

Am Mo., 29. März 2021 um 22:54 Uhr schrieb ElliotB256 <
***@***.***>:

[2021-03-29 21:59] ElliotB256 commented on #21
If you look at the landing page, you'll notice we now have an 'x' which indicates the unit tests are failing. It's set to run them when the master branch is pushed or there is a pull request.

[2021-03-30 11:18] ElliotB256 commented on #21
Once this is fixed I'll tag it as v1.0.0 and make a release

[2021-03-30 12:10] MauriceZeuner commented on #21
Okay, I fixed it. The problem was due to the 2pi problem we had with the linewidth and all and also another factor of 2 wrong.

The unit test green light is now on. :)

[2021-03-30 12:10] #21 closed

[2021-03-30 13:02] ElliotB256 commented on #21
hooray!

[2021-03-31 16:55] ElliotB256 commented on #7
Figure looks like the following:
![image](https://user-images.githubusercontent.com/7041164/113181929-3935e280-924a-11eb-90c1-d4c0c536cc26.png)

A comparison simulaiton on current master gives:
![image](https://user-images.githubusercontent.com/7041164/113181983-494dc200-924a-11eb-9f7a-5c9c30f30ef8.png)

[2021-03-31 16:57] #20 closed

[2021-04-06 13:09] MauriceZeuner opened #24 "A.C. Stark effect relevant in ODT MOT superposition?"
I was wondering if the far detuned dipole beams of a FORT / ODT lead to an A.C. Stark shift of the optical transitions used for a MOT. For the example of a 1064nm dipole trap that is briefly superimposed with a red Sr-MOT, I tried to calculate the light shift according to 7.7 Foot (see PDF attached). As you can see, the result I get is pretty much zero but I'm confused by the sentence "Normally li

[2021-04-06 13:39] ElliotB256 commented on #24
I'm on holiday so I won't add more detail now - but I'll comment that 'shift' could refer to either a transition _or_ the energy levels themselves. Large frequency detuning = dipole trap = large AC stark shift used to confine atoms. May or not produce a large shift in transition frequencies, depending on the shift of the ground and excited states.

[2021-04-06 13:58] MauriceZeuner opened #25 "Heating for limited time-steps in ODT"
I have discovered that the length of the integration time-step has a very significant effect on the "numerical" heating in a dipole trap. I attached a picture, showing the simulation results of 3 (otherwise identical) simulations with:

- blue: 0.1 µs
- yellow: 1 µs
- red: 2 µs (only a few atoms left ^^)

![image](https://user-images.githubusercontent.com/73487591/113722591-7ab20c00-96e8-11eb-97df

[2021-04-06 14:02] MauriceZeuner commented on #24
Thanks, important remark, I am aware of that... that's why I calculate \Delta \omega... but we can discuss that another time. So far, I wish you nice holidays. :)

[2021-04-06 20:50] ElliotB256 commented on #25
First up - what is your expected trap frequency?

Most likely thing is a bug with the velocity-verlet because it should be symplectic for a position-dependent force. @d-garrick

[2021-04-07 07:46] MauriceZeuner commented on #25
Hey, you're on vacation, said so yourself! So please, answer this only when you really don't have anything better to do or your holidays are over ^^

Trap frequency: We have a horizontal, cross dipole trap (orthogonal) with identical beams of 1064nm, 10 W of power each and a waist of 100µm. For that, I calculate a trap depth of about 34 µK
<img src="https://user-images.githubusercontent.com/734875

[2021-04-07 08:09] MauriceZeuner commented on #25
I'm comparing velocity-verlet to EulerIntegrationSystem:

- dark blue: Velocity Verlet at 0.1 µs step-size
- light blue: Velocity Verlet at 1 µs step size
- red: Euler at 0.1 µs
- orange: Euler at 1 µs

![image](https://user-images.githubusercontent.com/73487591/113832116-33775a00-9780-11eb-883f-e41322834a8a.png)
![image](https://user-images.githubusercontent.com/73487591/113832536-9bc63b80-9780-1

[2021-04-07 09:18] ElliotB256 commented on #25
Yeah it should have better accuracy than the `EulerIntegrationSystem` for this problem. I would verify that the correct values of position and velocity are being used for the calculation.

We are using the approach here which eliminates the half-step velocity.
https://en.wikipedia.org/wiki/Verlet_integration#Velocity_Verlet

[2021-04-07 12:57] d-garrick commented on #25
I found that the velocity verlet was using `oldforce` to calculate positon where it should have been using `force`, since `force` already has the value of the force from the previous step. This improved heating rates for me but did not eliminate them entirely, so I have pushed the fix but won't yet mark the issue closed.

@MauriceZeuner Try the new version and see if it improves matters for you.

[2021-04-07 14:10] MauriceZeuner commented on #25
![image](https://user-images.githubusercontent.com/73487591/113879719-b913fd80-97b2-11eb-95e6-7e8af09eccc7.png)
Thanks for your quick fix - unfortunately it seems, not too much has changed. I have plotted again for a timestep of 1 µs:
- orange: Euler Integration
- light blue: "old" velocity verlet before your fix
- vile pink/violett: "new" velocity-verlet

could you give a bit more detail how you

[2021-04-07 16:39] d-garrick commented on #25
@MauriceZeuner Can you send me the code you are using? I've run some more tests on my end and in a harmonic trap of period 5ms, when a stationary atom is dropped from 1um, even a timestep of 1ms doesn't lead to heating. See below plots of atom position and velocity at timesteps of 0.01 and 1ms. The simulation runs until 300ms but I've cut the plots to 150ms to make them easier on the eyes.
![image

[2021-04-08 10:09] ElliotB256 commented on #25
Removed the warning label because bug is sufficient

[2021-04-12 11:27] MauriceZeuner commented on #25
Hm, I am utterly confused. When I wanted to put together my minimum example for you to see it, the effect was not present. I now boiled it down to... well, I don't get how this should affect it in any way but... the `CentralCreator` - I compared it side-by side with a hard-coded atom and it appears to be the problem. I just don't get why since the atoms created that way have exactly the same compo

[2021-04-12 12:10] MauriceZeuner commented on #25
forget everything I said in that last post. I'll provide a good minimum example that shows the effect.

[2021-04-12 12:21] ElliotB256 commented on #25
Leave the posts anyway, no need to delete!

[2021-04-12 23:09] MauriceZeuner commented on #25
Okay, here the minimum example that I promised comes:

The example file in the dipole branch called "xodt_minimum_example.rs"  contains the following setup:
1 Atom is "manually" (could also be a source entity but for the sake of providing a "minimum" example it's just that) added to the simulation, with no speed but a position different than zero. Then the simulation runs for a certain amount of t

[2021-04-13 10:36] d-garrick commented on #25
I may have found the problem - on the dipole branch, the integrator appears to be the old, incorrect version of velocity verlet:

[code]

The correct version has to split the velocity and position integration into separate half-steps, as seen on the master:

[code]

I think if you merge the master into your dipole branch, this problem will be fixed.

[2021-04-13 11:00] MauriceZeuner commented on #25
No change... I just merged master into dipole again. The diagrams and the raw data look exactly the same. You can reproduce the result by switching to the dipole branch and just running:

'cargo run --release --example xodt_minimum_example'

[2021-04-13 11:00] d-garrick commented on #25
The other thing you may need to do is explicitly give the integrator the correct dependencies - your dipole force will probably need to depend on the position integrator and the velocity integrator needs to depend on your dipole force, to ensure these systems are applied in the correct order.

[2021-04-13 11:04] d-garrick commented on #25
did you push the merged branch? I just pulled dipole-force and it still has the old integrator.

[2021-04-13 11:05] MauriceZeuner commented on #25
Something is weird. Even after merging master to dipole it still looks old...

[2021-04-13 11:05] MauriceZeuner commented on #25
yes, I pushed everything.

[2021-04-13 11:09] MauriceZeuner commented on #25
could this be a problem? How is it possible that only the reversion of a merge affects a file but not the merge itself?
![image](https://user-images.githubusercontent.com/73487591/114543466-26131180-9c51-11eb-8ce9-11ccd677b6f8.png)

[2021-04-13 11:55] ElliotB256 commented on #25
https://github.com/TeamAtomECS/AtomECS/commit/3f4ad52a0fc5c08c5ca716712f45f4b0851f32b3

This one also appears to have stripped out the CI and other more recent changes

[2021-04-13 15:27] MauriceZeuner commented on #25
Looks good now - huge thank you for your help. Still don't quite understand which part of git I used incorrectly - always thought merging and then reverting the merge commit would sum up to zero change - but that's apparently not the case.

I know, it's unprofessional, but for now, I created the branch: new-dipole-force based on master and manually pasted all relevant changes to it. The original b

[2021-04-13 15:27] #25 closed

[2021-04-13 15:33] ElliotB256 commented on #25
I think you must have made a commit at some point after the master branch which reversed the changes - so it thinks it is up to date in that all commits from master have been applied, but there is a commit on the branch which undoes some of these changes.

[2021-04-14 14:50] ElliotB256 commented on #14
![image](https://user-images.githubusercontent.com/7041164/114730820-1c64d900-9d39-11eb-948d-64ba5adb0092.png)

[2021-04-14 15:02] ElliotB256 commented on #14
(The above simulation is for a box trap simulation domain with 10 boxes along each axis for 1000 boxes total.)

[2021-04-14 15:52] ElliotB256 commented on #14
Slightly more correct version of the same:
![image](https://user-images.githubusercontent.com/7041164/114740526-d6f8d980-9d41-11eb-90d1-a3d992b42438.png)

[2021-04-14 22:53] ElliotB256 commented on #14
@MauriceZeuner

[2021-04-22 12:57] ElliotB256 opened #26 "Ramps"
Hi @MauriceZeuner  and @d-garrick ,

I added a WIP implementation of ramps using a generic system here: https://github.com/TeamAtomECS/AtomECS/blob/collisions/src/ramp.rs

I intend to define a macro, `rampable`, so you can auto derive the required trait impl.

[2021-04-22 16:18] ElliotB256 commented on #26
I've added the tests for this and the module works nicely. I will pick the commits off collisions and move them into master as I think it's a useful feature to have.

To add a ramp, implement the `Lerp` trait for your `Component`, add a `Ramp<Component>` to your entity, and add a `RampUpdateSystem<Component>` to your dispatcher.

I am considering changing it from a Lerp trait to a blanket implemen

[2021-04-22 21:55] ElliotB256 commented on #26
Decided to keep it as Lerp - it doesn't make sense to define eg `Add` or `Multiply` for components such as `CoolingLight`, where there are some fields which shouldn't be combined as these operations would imply.

91aeaa - added a derive macro for `Lerp` which means you don't have to explicitly implement the `Lerp` trait for your types - just use `[#derive(Clone,Lerp)]` for your structs. Note that

[2021-04-22 22:04] ElliotB256 commented on #26
eg, from the test, define a new simple component with a float field:
[code]

[2021-04-22 22:14] ElliotB256 commented on #26
ecb564d - added derive to some commonly used components.

[2021-04-22 23:00] ElliotB256 commented on #26
@MauriceZeuner - I'll merge this to master probably tomorrow if I get time.
@DavidGarrick - I've updated the Rb173 shell example to use this approach for the RF knife

[2021-04-23 16:08] MauriceZeuner opened #27 "Dipole Trap asymetrical heating"
Hi all,

sorry for being quiet - I have been desperately trying to find the cause for a heating effect which seems to be still in the code but is most likely a dipole trap specific feature. I apologize in advance, this is super nasty and I'd be glad for new ideas how this could happen.

First observation: If you simply put atoms in a dipole trap, but also have some CoolingLight Entities in the gam

[2021-04-23 16:16] ElliotB256 commented on #27
what detuning are you using? perhaps you could quick plot the offset versus detuning?

[2021-04-23 16:18] ElliotB256 commented on #27
Also, to verify that the cooling light is the cause - what happens if you change the direction of the cooling light?

[2021-04-23 16:18] MauriceZeuner commented on #27
what would you change it to?

[2021-04-23 16:30] MauriceZeuner commented on #27
Hang on. Sorry, this does exist on the master branch and for the red MOT also:

![image](https://user-images.githubusercontent.com/73487591/115901844-a576c100-a459-11eb-8743-80007daaa59c.png)

[2021-04-23 16:32] MauriceZeuner commented on #27
See branch asymmetric-heating and then example file: red_mot_from_center

[2021-04-23 16:46] MauriceZeuner commented on #27
Ha! But not for the blue MOT!

![image](https://user-images.githubusercontent.com/73487591/115903664-c213f880-a45b-11eb-9b5d-4ba7e7b33e18.png)

So it's a red MOT specific problem.

[2021-04-23 16:48] ElliotB256 commented on #27
Can you provide a minimum example that produces the behaviour?

[2021-04-23 16:48] MauriceZeuner commented on #27
yes, already have: 36da241

[2021-04-23 16:52] MauriceZeuner commented on #27
plug in the transitions for the Blue MOT, change power and detuning to something that makes sense and you don't get the effect.
It's only for the red MOT, it seems. If you don't trust the CentralCreator, I can also explicitly create random atoms in the center, but I think that's not the reason. (Since there's no problem with the blue MOT)

[2021-04-26 16:34] MauriceZeuner commented on #26
Are you still planning to merge it to master?

[2021-04-26 17:45] MauriceZeuner commented on #27
Found, that the x-direction receives about 26% more force than y. By that, I mean the summed, absolute values in each direction. In a symmetrical setup, the forces should be equally strong. I investigated it using: a1c0f12

[2021-04-26 17:58] MauriceZeuner commented on #27
I think I'm getting closer. RateCoefficients seem to be imbalanced too, not by much, though:

  ┌                                   ┐
  │  4396097345004.737 │ +z
  │ 3880732997761.6094 │ -z
  │  4601255035803.305 │ +x
  │  4631279125587.867 │ -x
  │  4417368384127.704 │ +y
  │  4331600239418.176 │ -y
  └                                   ┘

see
4b53446

I think this is rather a symptom (of being m

[2021-04-26 18:38] ElliotB256 commented on #26
yes but I didn't get time yet, hopefully tomorrow

[2021-04-26 18:42] ElliotB256 commented on #27
It might help to measure the rate coefficients for atoms placed at well-defined positions?

[2021-04-26 19:19] MauriceZeuner commented on #27
Sorry, have to retract my last observation. Still had a 100µm offset in z for the magnetic field. RateCoefficients are sound:

pos: Vector3::new(5.0e-4, 5.0e-4, 5.0e-4)
  ┌                    ┐
  │   7835.07551271332 │
  │ 24398.235402460607 │
  │ 16297.298995739506 │
  │  24578.87894061315 │
  │ 16297.298995739506 │
  │  24578.87894061315 │
  └                    ┘

pos: Vector3::new(5.0e-4, 0.0e

[2021-04-26 19:53] ElliotB256 commented on #27
can you comment on whether the numbers above are expected? particular element 0 of the first one, and elements 3 and 4 of the second one

[2021-04-26 20:20] MauriceZeuner commented on #27
yes, everything is as one would expect. the position is given above the vectors and the elements denote the entries of the RateCoefficients component. The first two are plus and minus z, 3 and 4 are x, 5 and 6 are y

[2021-04-26 20:23] MauriceZeuner commented on #27
Just placed a single atom in the trap centre (static!). Summed force over 100000 time steps is:

  ┌                                      ┐
  │ 0.0000000000000000014452095452848004 │
  │ 0.0000000000000000011562930341955761 │
  │ 0.0000000000000000010981273888407856 │
  └                                      ┘

meaning, x is still getting more force even in that example. So we know it is somewhere

[2021-04-26 20:52] MauriceZeuner commented on #27
It's not the ExpectedPhotonsScatteredVector either, that one is fine!

That only leaves the drawing from the Poisson distribution and the two ForceSystems

[2021-04-26 22:33] ElliotB256 commented on #27
Looking at these vectors with all that wasted precision does make me feel sad :D I wish the `uom` crate was able to work with Vectors. Maybe I can do something with macros to get it working - it's a really nice crate if we can use it, and it also does compile-time dimensional analysis.

[2021-04-27 08:18] MauriceZeuner commented on #27
What wasted precision do you mean? The leading zeroes? It's just a println! command, not a value from a debugger (VS Code's debugger does not work for some reason...)

[2021-04-27 09:40] MauriceZeuner commented on #27
Okay, it appears to be a problem that exists when both (!) the EmissionForceOption and the ScatteringFluctuationsOption are active. Summed force vector for static, central atom after 10,000,000 steps:

no emission force, only scattering fluctuations
  ┌                                   ┐
  │ 0.0000000000000000732180549846602 │  x
  │ 0.00000000000000007321997707152613 │ y
  │ 0.000000000000000073

[2021-04-27 10:42] MauriceZeuner commented on #27
Found the (or at least one) guilty! Its maths::random_direction(). For some reason it is more likely to spit out a vector with a larger absolute value in x.

[2021-04-27 10:42] MauriceZeuner commented on #27
And the reason why it is important in red but not blue is that in blue, the function is called rarely since there are usually more than 5 photons scattered per step.

[2021-04-27 10:53] ElliotB256 commented on #27
ahh, interesting! is there a bug report for `random_direction` you can link?

[2021-04-27 10:54] ElliotB256 commented on #27
(and are you saying the discrepancies go away if you turn off fluctuations?)

[2021-04-27 11:08] ElliotB256 opened #28 "Support for `uom`"
I would like to use the `uom` crate to define quantities in atomecs.
https://github.com/iliekturtles/uom

Advantages:
* Compile-time dimensional analysis
* No runtime overhead
* Convenience to define in whatever unit is appropriate at the time
* No incorrect conversions

I had tried previously but was not able to because of the incompatibility of `Vector3<>` from `nalgebra` with `uom`. There have

[2021-04-27 11:08] MauriceZeuner commented on #27
Yes, if you simply set laser::force::EmissionForceConfiguration::explicit_threshold to 0 (for the EmissionForceOption), the asymmetry is gone, hurray!  Not sure if all problems in the dipole trap are gone but in the master, that should solve the problem. To solve it a bit more sustainable, I recommend using a different method to obtain random vectors. Looking at the function it is actually quite o

[2021-04-27 11:12] ElliotB256 commented on #27
Hmm, I didn't realise we were defining our own function for it! I assumed we were using one from another crate. Can you replace ours with https://docs.rs/rand_distr/0.4.0/rand_distr/struct.UnitSphere.html ?

[2021-04-27 11:14] MauriceZeuner commented on #27
yes, will do that. Should I make that change directly on master?

[2021-04-27 11:22] MauriceZeuner commented on #27
Hm, the heating for the dipole trap remains, but at least it is now symmetrical.

So I guess, problem 1 out of 2 solved.

[2021-04-27 11:24] ElliotB256 commented on #27
If it only occurs when you do actually have random kicks drawn (ie, photons scattered), then are you sure the heating is unphysical? There is still some scattering rate for a far-detuned trap - what is the scattering rate you expect given your parameters and what is the associated heating rate?

[2021-04-27 11:28] MauriceZeuner commented on #27
yes, because I did not give my dipole Lasers a "CoolingLight" component so far - so they should not be able to scatter at all, I think.

[2021-04-27 11:29] ElliotB256 commented on #27
Can you verify if it is integration error by reducing timestep by a factor of ten and running the same simulation time?

[2021-04-27 11:42] MauriceZeuner commented on #27
![image](https://user-images.githubusercontent.com/73487591/116235510-dc005480-a755-11eb-863c-f489ebd0735c.png)

It's not an integration error, I'm pretty convinced. Just for reference:

A: startup phase, red MOT only
B: Switch on Dipole, start ramping down MOT
C: Dipole only, switch off red MOT completely

diagram shows distance from center for all particles

[2021-04-27 11:43] MauriceZeuner commented on #27
My best guess is that something goes wrong when I switch off the MOT

[2021-04-27 12:46] ElliotB256 commented on #27
Sounds like you'll have to go through the systems one by one until you find the cause

[2021-04-30 12:50] damienBloch opened #29 "Linear polarization"
Hi,

I've been using AtomECS a bit lately and I just had a question on how it is possible to handle linear polarization. In the doc it's mentionned that it should be possible to have a linear polarization by combining sigma_+/- beams, but I don't understand how that can be.

For example I'd like to consider the following situation: a magnetic field along ```e_x``` and a cooling light with  wavevec

[2021-04-30 12:52] MauriceZeuner commented on #27
Found the problem: In short, the problem was that various components attached to the atoms were not cleared when the CoolingLight components are deleted. The `ApplyEmissionForceSystem` now runs despite no CoolingLight components (entities with them) are present anymore because it takes that information from the `ActualPhotonsScatteredVector` which still contains non-cero values from the time when

[2021-04-30 12:58] MauriceZeuner opened #30 "Polarizability/E-field treatment instead of AtomicDipoleTransition"
Following a good discussion with Tiffany:

Especially for dipole trapping, it can actually become problematic to pretend the Atoms have only one transition that is relevant. For example, what if you have a dipole beam for Strontium, close to the red transition? You'd have to respect the blue because it has a huge linewidth but the red one also, because you are close.

A far more realistic treatmen

[2021-04-30 13:04] MauriceZeuner opened #31 "Clear corresponding component data of deleted entities"
Following the nasty heating error in the dipole trap, I'd propose we should think about how to generally clean component data (in each iteration step). Two things come to mind:

1. We could just clear ALL dynamical components every step, like we do with `Force`. Pro: clean, Con: additional code that runs every step
2. We could make a more dedicated "EntityRemovalSystem" that not only removes (for

[2021-04-30 13:12] MauriceZeuner opened #32 "User-friendly way to produce output of custom component"
I think it would be great to have a very simple way to write not only Position and Velocity to a textfile and analyse it in Python/Matlab but maybe a general `WriteComponentToFileSystem` that users can configure to write the values they are interested in.

For example: If I wanted to print the contents of the `TotalPhotonsScattered` component for all atoms over time, I might want to plot that agai

[2021-04-30 13:15] MauriceZeuner opened #33 "Elliptical (Gaussian) beams"
The `GaussianReferenceFrame` already exists (and has an "ellipticity" attribute) in the new-dipole-force branch but elliptical Gaussian beams are yet to be implemented. Could be useful not only for dipole traps.

[2021-04-30 13:17] MauriceZeuner opened #34 "Optimization for the red-MOT, dipole trap transition in Sr"
Something Tiffany and I would be very interested to see some results of in the mid-future.

[2021-04-30 14:59] ElliotB256 commented on #29
I think the doc is incorrect in this cased. The 'polarisation' is either +1 or -1 depending on whether the beam is sigma_+ or sigma_- polarised. The `scatter1,2,3` components have prefactors which arise from transformation the E-field of the \sigma_\pm radiation into a frame aligned with the local B-field, and then expressing the field in that frame in terms of `\sigma'_\pm`, `\pi' `components (no

[2021-04-30 15:39] ElliotB256 commented on #27
Good find! I think a few things are confused here though.

First, if you delete an entity the associated components are removed once you call world.maintain. For example, from the [delete](https://docs.rs/specs/0.9.5/specs/struct.EntitiesRes.html#method.delete) doc:

It sounds like the bug is really in the formulation of the system logic. Looking at the systems, the following system clear out the

[2021-04-30 15:40] ElliotB256 commented on #31
Related to #27. For the record I think dynamical components should be cleared each step, although there is a slight overhead from doing so. At the very least we should improve the tests surrounding similar components so that they can catch this problem.

[2021-04-30 15:40] damienBloch commented on #29
Could something like [Jones vector](https://en.wikipedia.org/wiki/Jones_calculus) be a solution to this ?

If we have two vectors `e_x` and `e_y` perpendicular to the wavevector, it's possible to define all fully polarized lights as a complex 2D vector `pol = a * e_x + b * e_y` with `|a| ^ 2 + |b| ^ 2 = 1 `.
But the issue would be how to get the vectors `e_x` and `e_y` in a consistent way for an a

[2021-04-30 15:42] ElliotB256 commented on #33
@MauriceZeuner might be good to leave this a week incase any newcomers want to have a go?

[2021-04-30 15:51] ElliotB256 commented on #32
With the current approach, for a text output you need to implement Display for the component:
[code]
then you can use it in a `file::new<Component, Text>()` to write those component values every frame.

Where it could be improved is that `Display` is probably not the best trait to use here. Ideally we would use existing serialization functionality for components, such as is provided by `serde`. If

[2021-04-30 16:11] ElliotB256 commented on #32
@MauriceZeuner it might be as simple as this:
[code]

[2021-04-30 16:13] ElliotB256 commented on #32
oh, also I have no idea about execution speed for serde, but we could benchmark it easy enough.

[2021-05-04 12:10] ElliotB256 commented on #34
(sounds like this task relates to a specific project, eg AION, rather than AtomECS? Might be better suited for the other repo)

[2021-05-07 10:20] MauriceZeuner commented on #31
would you be happy to have a short chat about that?

[2021-05-07 10:39] MauriceZeuner commented on #26
can we merge the ramps into master?  I'd love to play around with them for dipole trapping and optical transport. Also, I have to understand them - don't quite get the "traits" in Rust, especially that Lerp.

[2021-05-07 16:13] ElliotB256 commented on #31
sure!

[2021-05-08 18:34] ElliotB256 commented on #26
Merged in 3bc5246

[2021-05-08 18:34] #26 closed

[2021-05-08 18:35] ElliotB256 commented on #32
See 62777bac52c443a01d443b99bbfce8a1f0c7d71a , which includes this

[2021-05-08 18:35] ElliotB256 commented on #33
Looks like no new users volunteered :( so go ahead :)

[2021-05-08 18:38] ElliotB256 commented on #3
Bevy also looks pretty good - I'm going to keep an eye on it while the dust settles. We can probably move sometime in a few months.

[2021-05-09 08:11] #7 closed

[2021-05-11 11:38] MauriceZeuner opened #36 "Numerical gradient for (interferenced?) intensity"
Is there a package or algorithm you could recommend for calculating numerical gradients of a function that takes the form:

`f(pos: Vector3<f64>) -> f64`

Strictly speaking, I need it to get the intensity gradient (E-field-squared-gradient) for cases of many-beam interference, where an analytical solution is hard to obtain (Although I will think about it some more... for some special cases (like l

[2021-05-11 13:39] ElliotB256 commented on #36
The question is quite general at the moment. Can you describe the specific case with more detail, as there may be another solution?

For instance, if this is for forces due to interfering beams - can you add the gradient produced by each beam separately? if `V_i(x)` are summed to give a total `V(x) = \sum_i V_i(x)`, then doesnt `d V(x)/ dx = \sum_i d V_i(x)/dx`? For most beam shapes it should be p

[2021-05-11 14:02] MauriceZeuner commented on #36
Yes I can: The problem is different to what you described as I don't need the gradient of a summed quantity but the gradient of a complex modulus squared of summed complex quantities. I need: (with c being a few constants that are not important right now)

`\grad I = \grad (c * (\sum E_i )^2)`

...where the ^2 denotes the modulus squared of the argument `arg`, i.e. `arg.re^2+arg.im^2`

For the ful

[2021-05-11 14:36] ElliotB256 commented on #36
Is the solution then to work in the domain of the E-fields (like you previously said), and have an intermediate system which converts `E->I`?

[2021-05-11 14:37] ElliotB256 commented on #36
(helps you for the magnitude but not the gradient I suppose)

[2021-05-11 14:39] MauriceZeuner opened #37 "Polarization and Jones vector"
Just to let people know that I am working on extending the Gaussian beam description to correct treatment of (at least fully) polarized light with arbitrary ellipticity of the Jones vector.

If you wonder why: Well, I think we do already have 50% of the stuff we need to model Sisyphus-cooling and I suppose that this would definitely be a nice feature in the mid-future. Any thoughts?

The branch wi

[2021-05-11 14:48] MauriceZeuner opened #38 "Fine to use the `num = "0.4.0"` dependency for complex numbers?"
Would anyone object if we added the `num = "0.4.0"` to the list of project dependencies? It enables the use of complex numbers with:

`num::complex`

See: https://docs.rs/num-complex/0.4.0/num_complex/index.html

[2021-05-11 14:56] MauriceZeuner opened #39 "Debugging an ECS in VS Code"
Sorry for spamming so many issues here - let me know when to stop. ^^

Can you debug AtomECS in VS Code? It seems it never stops at my breakpoints in systems... am I getting something wrong? Hast it something to do with the strong parallelism? It would be great to stop at points in the simulation have a look at the entries in all components, is that possible?

Thanks in advance!

[2021-05-11 16:02] ElliotB256 commented on #38
sure, go for it. Add it on the branch you require the package and we will add it when we merge into master.

[2021-05-11 16:02] #38 closed

[2021-05-11 16:03] ElliotB256 commented on #39
I expect it's related to `shred`, which also causes problems the flame graph. We will move off `shred` and `specs` at some time within a few months, probably to `bevy` or `legion` depending on which is more mature. I won't fix this now because I think it will be resolved when that migration occurs.

[2021-05-11 16:05] MauriceZeuner commented on #39
okay, meanwhile, do you (personally) have a way of debugging this (other than println! statements ^^)?

[2021-05-11 16:44] ElliotB256 commented on #29
you could define private fields with a method used to create the struct? that would be a way to safeguard that the struct is in a 'valid' state when being used

Regarding polarization as a component, that could work. It seems like we may be moving towards a general consensus of working in the E-field domain, and then converting to intensities for calculations?

[2021-05-11 16:48] MauriceZeuner commented on #29
Hi Damien, didn't notice you were here, that's super cool!

Nice coincidence! As Elliot mentioned, I am currently trying to put together a treatment in the complex E-field regime, where I use Jones-vectors as well. I ensure that they're orthogonal to the `LinearGaussianEBeam::direction` by creating them in constructors and having private fields.

Maybe another meeting on that to strategize would b

[2021-05-11 18:08] MauriceZeuner commented on #14
Is there a minimum example that shows how to use the collisions? I'd be very interested to throw some particles into a dipole trap and evaporate.

[2021-05-12 09:23] damienBloch commented on #29
Ok, I see. What puzzled me at the time with Jones vectors is that you need to choose a reference frame somewhat arbitrarly. But indeed with methods to create the frame from the beam looks like it does the trick.

Also I was wondering if you move to a E-field treatment, how would the polarization be handled when there are several beams intersecting, like in a MOT for example ?

[2021-05-12 09:30] ElliotB256 commented on #29
I think we probably need to distinguish between two regimes:
* far-detuned/conversative dipole trap potentials. In this case the beams should interfere and the combined intensity should dictate the trapping potential (to allow eg lattices).
* near-detuned/scattering force beams, such as in MOTs and slowers. In a real MOT there will be interference, e.g. polarisation gradients used in sub-doppler c

[2021-05-12 09:31] ElliotB256 commented on #37
(Closing duplicate issue, lets continue in #29)

[2021-05-12 09:31] #37 closed

[2021-05-12 09:32] ElliotB256 commented on #32
@MauriceZeuner if you are bored and looking for things to work on then you could check this?

[2021-05-12 16:59] MauriceZeuner commented on #29
I fully agree with the two regimes - especially since it would become hard to use our Rate Equation approach together with Intensity from superposed E-fields (We couldn't tell from which beam the photon comes). I talked with Ulrich about this very question (from a physics perspective only) and we came to the conclusion that it is probably easiest to explicitly tell AtomECS which beams interfere wi

[2021-05-12 17:19] ElliotB256 commented on #29
Side note - Also worth bearing in mind the current approach, which is intensity based and does not have interference, has a 'one-to-N' concept in the sampler, because each atom must sample N beams. Allowing interference changes this - some beams must be combined, so an atom's sampler doesn't hold the values of N beams, but M fields?

[2021-05-12 17:30] MauriceZeuner commented on #29
Absolutely, very important! I think either that (reducing from N laser to M "fields") could work or... Actually, why not still have N entries in `ElectricFieldSampler` where the ones corresponding to entities without `InterferenceOn` are zero (or not initialized) and let the interference happen in `SampleLaserIntesityGradientSystem` which would then still write N entries into the `LaserIntensityGr

[2021-05-13 10:17] MauriceZeuner commented on #29
@damienBloch : Just looking through your code, I have a few comments/questions, if that's okay:

1. I think it is not necessary to hard-code a random vector to get an orthonormal system.
<img src="https://user-images.githubusercontent.com/73487591/118106197-427fa680-b3d5-11eb-9f28-33a637d29118.png" width="500">
I would say it is safer to actually give two vectors as arguments for the function, one

[2021-05-13 10:24] MauriceZeuner commented on #32
Wouldn't say I'm bored but happy to look through it. ^^

[2021-05-13 11:28] ElliotB256 commented on #29
@MauriceZeuner I think the current definition of polarisation in atomecs defines either sigma+ or sigma- with respect to the direction of propagation of the beam. To me that seems a sensible choice of frame. It means that for a 3D MOT you need two beams sigma+ (axial, outward field), and four beams sigma- (radial, inward field). The direction of the local B-field with respect to the beam propagati

[2021-05-13 11:29] ElliotB256 commented on #29
(also @MauriceZeuner  - please post code as snippets rather than images, it makes it easier to copy/paste and index :) )

[2021-05-13 13:19] MauriceZeuner commented on #32
Looks good in principle but I have to place it somewhere else in the ECS order because it only prints 0-values for components that are cleared each step (like `Force`)

[2021-05-13 13:39] damienBloch commented on #29
So just to try to answer some of the points you raised @MauriceZeuner:

1: `get_ortho_basis` is only used to produce a circular polarization with respect to a wavector with `PolarizedLight::circular_right(wavector)`. If the wavevector is along `e_z`, the circular right polarization can be `e_x - i e_y`, but any other `e_x' - i e_y'` (with the primes obtained by an arbitrary rotation along `e_z`) i

[2021-05-13 13:43] MauriceZeuner commented on #32
Yes, so the following helps:

`    builder = builder.with(
        file::new::<lib::atom::Force, SerdeJson>("force.txt".to_string(), 100),
        "",
        &[INTEGRATE_VELOCITY_SYSTEM_NAME],
    );`

So, it is necessary to wait for all the force systems to run (or do it before the `ClearForcesSystem`, but there is no nice entry point) and it works. Guess, it's the same for other components that

[2021-05-13 13:48] MauriceZeuner commented on #32
My next step would now be to add `Serialize` to other components and check how their output looks like. If that's fine and you don't mind that people have to import the `INTEGRATE_VELOCITY_SYSTEM_NAME` to do that, I think it can be merged onto master.

[2021-05-13 16:13] ElliotB256 commented on #3
@MauriceZeuner also might be interesting if you are bored. I'm particularly interested to see how each ECS crate compiles to SIMD instruction sets.

[2021-05-13 16:19] ElliotB256 commented on #32
yeah that sounds great. I wonder to what extent we can leave the serde implementation open? eg, someone may like to use json, while another may like to output in YAML format. There's probably a way to do it agnostic of the (de)serialization flavor used, but it might require a macro definition.

[2021-05-13 17:39] MauriceZeuner commented on #32
I think I only understood half of what you said in detail :D Let me try:
Okay, so apparently there are two different ways of producing output files... meaning, converting internal storage structures to human-readable format... and we are currently doing json, right? But we write it to .txt files ... what exactly would be different with YAML?

What is a serialization flavor or a flavor at all?

By

[2021-05-13 17:59] MauriceZeuner commented on #32
Do you have an idea how not to write entries in Vectors that are null (like the `DopplerShiftSamplers` for example)? Currently its output looks a bit ugly, but is, of course, correct:

`1,10307, {"contents":[{"doppler_shift":117297311.27240404},{"doppler_shift":-335276.52687008784},{"doppler_shift":-813804.8382839408},{"doppler_shift":813804.8382839408},{"doppler_shift":335276.52687008784},{"doppl

[2021-05-13 18:19] MauriceZeuner commented on #32
Another thing that came to mind: Currently, it's hard-coded to write the components of atoms only - nothing wrong with that in 99% of the cases, I guess but especially if we use ramps, wouldn't it be nice to also write some beam components?

[2021-05-13 20:00] ElliotB256 commented on #32
or better yet, there are arbitrarily many ways! Our structs implement serde's `Serialize` trait, which means any of serde's [supported Serialized types](https://serde.rs/#data-formats) are in principle supported.

The issue in the code I posted above is that it ties the implementation to `serde_json` when it invokes `serde_json::to_string`. In principle, you could imagine that any library could be

[2021-05-13 20:05] ElliotB256 commented on #32
You could define a custom `Serialize` implementation for the struct, so it doesn't print the null elements.

Fair point! I wonder what the best way to change that is. We could expose `Atom` here as another generic parameter `A` and filter on that flag component type.

[2021-05-14 13:31] MauriceZeuner commented on #32
Okay, I went ahead for the serdejson and exposed the `Atom` as the `A` parameter. I had to change that in the `Text` outputs as well, though, see https://github.com/TeamAtomECS/AtomECS/commit/964952eee67ba346d845966a09f0c95eda8853ca

[2021-05-15 11:37] ElliotB256 commented on #3
I benchmarked a few other libraries for a simple example here:
https://github.com/ElliotB256/bevy_bench/issues/2

specs currently outperforms both legion and bevy for this example - which is a surprise to be honest!

[2021-05-18 17:34] MauriceZeuner commented on #29
Hi Damien,

on a humorous note: It took me extremely long to notice that you (almost) consistently wrote "wavector" instead of "wavevector" and I wonder if we could make that the official spelling, please, it's a cool way to shorten things :D (Although I find it hard to pronounce that way ^^)

1. I have to think about that again... still tiny bit sceptical but probably just my error in my thought

[2021-05-18 20:20] ElliotB256 commented on #29
2-3: I like @damienBloch 's suggestion. Being able to define 'unphysical' polarisations is not a problem if we provide a clear API for people to use. Generally, the component data layout should prioritize speed, and we should provide constructor methods to create valid structs.

4: I really like the syntax `PolarizedLight::circular_right(wavector)`. One comment is that left/right is ambiguous - co

[2021-05-18 20:22] ElliotB256 commented on #29
I think Damien was on this issue first :) Maurice would you like to look into fluent interface/builder components and a higher-level API? The time I can spare in the next few days will be spent upgrading us to the newest `specs` package so that we can get back to the most recent toolchain and stop panicing :)

[2021-05-18 20:23] ElliotB256 commented on #14
@DavidGarrick I know we spoke a few times today, could you post a brief update here? :)

[2021-05-18 20:37] MauriceZeuner commented on #29
I like the idea of a higher-level API! I think it absolutely makes sense to have something like that, although I think it's nice to keep the nature of modularity and configurability at least as an option. As long as it does not undermine the original idea, I would love if one could also have a more custom syntax (rather than many, many function names) like this (just as an example):

[code]

Where

[2021-05-18 20:43] MauriceZeuner commented on #29
Sure, when you say "look into", you mean coding a draft of it that we can then discuss? Or is there something preexisting in Rust/Specs that is commonly used for building APIs in a more general sense?

[2021-05-18 20:45] MauriceZeuner commented on #29
@ElliotB256 is the API thing worth a new issue?

[2021-05-18 20:47] MauriceZeuner commented on #32
Any comments? If not I'd open a pull request so we can use it on other branches (that we derive from master) soon as well.

[2021-05-18 20:51] ElliotB256 opened #41 "Higher level API for construction simulation entities"
I would like to see a high level API for creating entities in the simulation, using something like factory structs with a fluent interface. e.g.:
[code]

The advantages of this are:
   * user doesn't need to know components required.
   * guarantees safe use/initialization of components.
   * prosaic code.
   * reduces redundancy for duplicate variables (e.g. wavevector)
   * nicer editor integrat

[2021-05-18 20:53] MauriceZeuner commented on #32
Just updated documentation file.rs slightly, see a0b5c14

[2021-05-18 20:54] ElliotB256 commented on #32
Did you try a version using `Json` as a `Formatter`, eg to replace `Text`?

[2021-05-18 20:55] #27 closed

[2021-05-18 20:56] ElliotB256 commented on #27
Closed because bug was found and new issue opened

[2021-05-18 20:56] ElliotB256 commented on #3
Shelved for now. Can reopen in a few months time depending on benchmarks of Legion and bevy.

[2021-05-18 20:57] MauriceZeuner commented on #33
Will go ahead to implement it via a `Frame` component in lib::laser::frame.rs
This Frame may or may not used to also define 2D Jones vectors within it. For this, see issue #29

[2021-05-18 20:57] ElliotB256 opened #42 "Update to latest `specs`"
I need to update to the latest specs+rayon to fix the panic issue, so we can get back to nightly toolchain.

The specs API has some breaking changes, so I need to update all examples aswell.

[2021-05-18 21:01] ElliotB256 commented on #31
We never had the chat so I'll clarify my thoughts here.

There should *not* be an `EntityRemovalSystem` that does everything, because doing so would tightly couple all the modules together. Instead, `ToBeDestroyed` component should be attached to signal intent, and then modules can behave appropriately to handle entity deletion.

Regardless, the real issue here was that a component used for aggreg

[2021-05-18 21:04] MauriceZeuner commented on #32
Yes, just tested it. Had to implement Serialize for the `Velocity` (another micro-commit) but yes, exactly the same result as with `Text` but obviously with brackets and "vel" in front of it:
[code]

[2021-05-18 21:09] MauriceZeuner commented on #31
Okay, so you mean, I just implement a `ClearComponentSystem` for every `Component` that needs to be cleared, completely analogue to `ClearForceSystem`?

[2021-05-18 21:17] d-garrick commented on #14
I've been testing collision rates and evaporative cooling and had some discrepancies but have found the bug - the current version overstimates the collision rate by a factor of the macroparticle value. After fixing this, the s-wave collisions (and magnetic trapping) seem to work well and agree qualitatively with experimental data:
![image](https://user-images.githubusercontent.com/78102623/1187239

[2021-05-18 21:26] d-garrick commented on #14
It's also worth mentioning that at the moment at least, the user has to spend some time figuring out good parameters to use to ensure accuracy of the simulation. For example, the timestep must be significantly less than the average (or possibly the smallest, in the case of inhomogeneous density) collision time, at least 10 times less. I have also read in the literature that the timestep needs to b

[2021-05-18 22:38] ElliotB256 commented on #14
Can you produce a 2D plot like the one above to show when it breaks down?

Graph looks great!

[2021-05-19 09:14] damienBloch commented on #29
I'm also happy to give it a try in the next days, but I wouldn't mind having a quick call at some point to get a few pointers.

[2021-05-19 10:43] ElliotB256 commented on #42
See 53f6adf47 - the main changes to add are:
* Use `specs::prelude::*` instead of individual trait/struct imports.
* change `world.add_resource` to `world.insert`
* Also took the opportunity to remove `extern crate specs` where possible.

I've fixed benchmarks, tests and examples. Tests pass and `atomecs` now runs on nightly toolchain again. I'll need to update the dependent repos (such as the sou

[2021-05-19 10:46] ElliotB256 commented on #42
See PR #43

I'll merge this in ASAP. @MauriceZeuner and damienBloch, could you update your branches to this version aswell?

[2021-05-19 10:48] ElliotB256 commented on #2
Should now be resolved as of PR #43 , you can `rustup default nightly` once more.

[2021-05-19 10:48] #2 closed

[2021-05-19 13:34] MauriceZeuner commented on #42
Help! Something in the merge went horribly wrong... there were a lot of conflicts but now every example file has this problem:
![image](https://user-images.githubusercontent.com/73487591/118821636-5896d680-b8af-11eb-9af8-9fed5a85fb2c.png)

[2021-05-19 13:35] MauriceZeuner commented on #42
I thought I resolved all conflicts reasonably... but especially in the cargo.lock there were like 53 of them - just accepted the entire incoming file.

[2021-05-19 16:40] ElliotB256 commented on #42
did you try `cargo update`?

[2021-05-19 16:42] ElliotB256 commented on #42
Also you probably need to restart VS Code - the RLS is alright, but it does bug out from time to time (especially when there are large changes to packages). You can try restarting the RLS using Ctrl+shift+p and searching for RLS

[2021-05-19 17:03] MauriceZeuner commented on #42
Okay, a combination of these things appears to have done the trick. Now for the painful process of changing the syntax in all files not on master...

(meaning, the master examples now run again but of course, my own modules and examples don't, but shouldn't take too long)

[2021-05-19 21:07] MauriceZeuner commented on #42
Alright, everything seems to be fine, now. Thanks for your help!

[2021-05-20 08:51] ElliotB256 commented on #42
Also @DavidGarrick will have to do this for collisions

[2021-05-24 16:46] MauriceZeuner commented on #33
Implementation complete - last commit on this is 3261286

[2021-05-24 20:11] MauriceZeuner opened #44 "Ramping multiple components of an entity"
I just realized that the current implementation of the ramps does not allow for ramping two components of the same entity at the same time. This is difficult for me since I would like to replace my `dipole::transition_switcher::RampMOTBeamsSystem` with them to ramp detuning and power of MOT beams. I believe there is no simple way to allow for two `Ramps` to be associated with an entity, right?

On

[2021-05-24 21:00] MauriceZeuner opened #45 "Missing trait when fixing implementation of random vector for `ApplyEmissionForceSystem`"
Hi!
I finally started properly fixing the first of the numerical heating problems. For this, I want to replace the faulty `maths::random_direction` with `rand_distr::UnitSphere` since Elliot recommended that

see #27

So, I was trying that, however, I encountered a problem where the compiler complains about the argument of `UnitSphere.sample` in `force.rs`

[code]

saying:

[code]

which makes no

[2021-05-25 08:05] ElliotB256 commented on #44
Why can't you just add `Ramp<A>` and `Ramp<B>`? They are different types!

[2021-05-25 08:09] ElliotB256 commented on #45
It's because of an `extern crate` statement in that module. In recent rust extern crate is no longer required and Ive started removing it.

Also, please make sure we are on most recent rand in the toml

[2021-05-25 09:13] ElliotB256 commented on #44
You might find the following interesting for further information: https://rustc-dev-guide.rust-lang.org/backend/monomorph.html

[2021-05-25 10:01] ElliotB256 commented on #44
You can define helper functions in your repo that uses atomecs to make life easier for your specific use cases. But the base API should be explicit, as it currently stands. In your particular case you want to ramp power, but someone else may want to ramp the waist, and to be less explicit would mean we have to start making assumptions about what people are using `Ramp`s for.

[2021-05-25 16:58] MauriceZeuner commented on #44
Ah, okay - thanks for the clarification!

[2021-05-25 16:58] #44 closed

[2021-05-26 08:59] MauriceZeuner commented on #45
Har - updating to the most recent version of rand did the trick, thank you once more!

[2021-05-27 09:29] damienBloch opened #46 "Multiple atomic transitions"
What is the correct way to generate atoms from an oven with multiple transitions ?

I assumed that I could just add an AtomicTransition component to the oven creation, but it doesn't seem to work.

For example, replacing in 2d_plus_mot_from_oven the line

`l156: .with(AtomicTransition::strontium())`

either by

`l156: .with(AtomicTransition::strontium())`
`l157: .with(AtomicTransition::strontium_r

[2021-05-27 09:55] ElliotB256 commented on #46
This is indeed a limitation of the current code, that we can only have one transition per atom!

## Short term workaround

For now we are modelling setups with blue/red by basically swapping the `AtomicTransition` either spatially, eg on entities that go into the red region, or in time, eg doing it at a certain point in time. That is a workaround at best.

## Longer term feature implementation

Cu

[2021-05-27 16:51] ElliotB256 commented on #32
Sorry I forgot to reply on this, do you want to open a PR?

[2021-05-27 17:30] ElliotB256 commented on #46
Sketching out the details of a possible implementation.

* `AtomicTransition` becomes a Trait which defines properties of an atomic transition. These would have to be functions, but they all return constant values when evaluated so we determined at compile time.
* A macro generates definitions for empty tag component structs such as `Strontium461`. _These hold no data_ (and hence execution may act

[2021-05-27 21:38] ElliotB256 commented on #46
Other thoughts:
* This is very contingent on using the 'two level' approximation even for multiple cooling transitions. It won't be able to model effects of saturation/population pumping between those transitions. For that reason, it should be `TwoLevelAtomicTransition`
* Future atomecs may support multiple ways of calculating scattering forces, eg OBE or multi-level rate equation (MLRE). For this

[2021-06-01 09:12] ElliotB256 commented on #14
@DavidGarrick discussed in slack the advantages of making a PR for these early collision features, with more configurations exposed/optimisations in a second PR.

[2021-06-01 12:29] Saskia461 opened #52 "Tophat beam profile"
The code seems to assume a Gaussian beam profile, I would like to simulate a MOT geometry using laser beams with a tophat profile or more generally be able to modify the beam profile to be an abritrary function. Adding a tophat module in lasers is not sufficient as the code continues to assume a gaussian beam in other instances.

[2021-06-01 22:38] ElliotB256 commented on #52
Based on the original email, here is a rough outline of an implementation following the ECS pattern:

## Top hat implementation

* First, add a new component called `TopHat`, which defines everything required to describe a top-hat beam profile (eg, radius). A laser beam with a top hat profile should now be created as an entity with a `TopHat` component, instead of a `Gaussian` component.
* Add a s

[2021-06-01 22:40] ElliotB256 commented on #52
@MauriceZeuner does this work well with your `Gaussian` beam changes that include focussing/waists? Anything else needed?

(This is a good test case to make sure the components are split properly - e.g. is there anything in `Gaussian` that is required for a general beam, or anything in other beam components that really belong in `Gaussian`?)

[2021-06-01 22:41] ElliotB256 commented on #32
#47

[2021-06-02 12:11] damienBloch commented on #29
Sorry for the delay, got a bit sidetracked.

I made small changes to upgrade polarization to a component, based on the same formalism as I used before ([vector-polarization branch](https://github.com/damienBloch/AtomECS/tree/vector-polarization)).

 It passes all the tests but I didn't correct the examples if clean up or further changes are needed.

[2021-06-02 12:48] MauriceZeuner commented on #52
Interesting use-case! My initial thoughts:

- all beams have a power, direction and intersection, currently, that's an attribute of `GaussianBeam`. We could split it up into `GaussianProfile` and `Beam` and let the `Beam` have these attributes that all such components would otherwise have in common.
- the ellipticity could arguably also be part of a general `Beam` rather than `GaussianBeam` but no

[2021-06-02 13:01] ElliotB256 commented on #52
@MauriceZeuner your first bullet point is the intended pattern we should follow here. For the second, I would argue ellipticity should be part of `GaussianProfile`, not `Beam`; for instance if I defined a `RectangularProfile` beam then the property ellipticity would not make sense.

Re traits: I think that goes against the ECS pattern here, where the intention is behaviour by composition. There is

[2021-06-02 13:20] MauriceZeuner commented on #52
Okay, that makes sense. I'm happy to implement this as soon as the dipole feature branch is merged - otherwise, I have to update all the branches that wait to be merged separately, which would not be time-efficient, I guess.

[2021-06-02 14:13] ElliotB256 commented on #52
I would prefer to leave this for @Saskia461 to try, it seems like a good first feature

[2021-06-02 14:13] ElliotB256 commented on #52
(If they would like to try it!)

[2021-06-02 16:28] Saskia461 commented on #52
I'm happy to try it, it will probably take a while longer though since I am very new to Rust and have a few other things on my to do list with deadlines.

[2021-06-02 17:59] MauriceZeuner commented on #52
well great, that's even better, then! @Saskia461 feel free to contact me if you get stuck somewhere or want a general overview on how the ECS works under the roof ^^

[2021-06-03 09:40] MauriceZeuner commented on #31
Done in #48

[2021-06-03 09:51] ElliotB256 commented on #33
Please don't close until merged!

[2021-06-03 09:52] ElliotB256 commented on #31
Please don't close the issue until it has been merged into master.

[2021-06-03 09:54] MauriceZeuner commented on #31
I'd say it's already merged in #48 or is that not what you meant?

[2021-06-03 10:22] ElliotB256 commented on #31
Ahh sorry, my mistake! yes, this can close

[2021-06-03 10:22] #31 closed

[2021-06-04 14:57] damienBloch opened #55 "Panicks when more than 16 lasers"
I was trying to increase the number of cooling lasers to replicate sidebands.
Every time I add more than 16 lasers to the world, a thread panicks.

Any thoughts on what could be causing the problem ?

[2021-06-04 16:08] ElliotB256 commented on #55
Currently the laser samplers store per-laser quantities in a fixed-size array of length 16, see `laser::COOLING_BEAM_LIMIT`. We originally used a variable length (and heap allocated) `Vec<>` for laser samplers, but there was a performance increase for moving to fixed-size arrays. You can see more about the performance tweaks [here](https://github.com/TeamAtomECS/AtomECS/issues/9#issuecomment-77628

[2021-06-04 16:09] ElliotB256 commented on #55
_Note that performance was faster with fixed arrays, but we could debate whether it's worth the flexibility. A few posts down, it says:_

[2021-06-04 16:31] damienBloch commented on #55
Ok, thanks ! I'll have a look.

It just that the 16 limits seemed a bit low. A simple MOT already has 6 beams so it's fairly easy to go above 16.

[2021-06-04 18:18] ElliotB256 commented on #55
Yeah agreed, especially when you also have e.g. sidebands in some setups.

[2021-06-05 08:09] ElliotB256 commented on #55
Could you profile the benchmark simulation as a function of the array size?

[2021-06-07 11:39] damienBloch commented on #55
I simply measured the duration time for the benchmark example on a i7-1165G7 @ 2.80GHz.
Not sure how to do a detailled profiling though.

![benchmark](https://user-images.githubusercontent.com/49733418/121009479-82e40180-c794-11eb-8f32-1c9ba2265006.png)

I went a bit high for the upper limit because I want to have a MOT with many sidebands but I imagine it's an extreme case.

I had to remove `#[de

[2021-06-07 14:13] ElliotB256 commented on #55
Thanks Damien, there's obviously an overhead with shuffling larger arrays around in memory (as expected). It looks like 32 would be a safe short term extension (which allows serialize,deserialize traits to be preserved), and we can return to whether a `vec` approach would be more suitable in other cases (I'd be interested to see how the overhead scales for `vec` versus larger cooling_beam_limit

[2021-06-07 16:31] #42 closed

[2021-06-08 07:39] damienBloch commented on #55
Also maybe a more explicit error message could be helpful ?
Otherwise it's unclear why the number of entities with CoolingLight components is limited.

I also just noticed that the lasers are cached with a LASER_CACHE_SIZE in some files, but I didn't change this value in the previous runs.

[2021-06-08 10:59] ElliotB256 commented on #55
The `LASER_CACHE_SIZE` plays a different role. It defines a fixed size slice which we iterate over. It was more important in the original `vec` implementation, because it allowed us to process chunks of the `vec` in batches of a size known at compile time (and so enable SIMD floating point ops). Since moving to fixed size arrays, it's possible any performance gain is no longer worth the extra main

[2021-06-08 15:10] #55 closed

[2021-07-01 09:11] ElliotB256 commented on #14
@DavidGarrick ready to pull?

[2021-07-14 08:30] MauriceZeuner commented on #14
Hi David,

I think you mentioned some unit-tests still failing - just to check:

collision_rate() --> fails
test_collisions() --> deaktivated/fails if ran

Also, the `test_apply_gravitational_force_system` now fails because a`collision_tracker` is missing:

[code]

Is that the currently "correct" behaviour or did I mess something up while merging?
Thanks :)

[2021-07-14 10:42] d-garrick commented on #14
The unit tests are very unfinished so I can't comment much on which particular ones are failing, they won't be done until I try and merge collisions (which I'll try and work on soon in between lab work).
Let's email about any errors or questions and if we find an actual bug we can mention it here.

[2021-07-22 17:17] ElliotB256 opened #58 "Tidy up the unused branches"
There are quite a few branches left over, it needs a tidy up.

[2021-07-22 17:20] ElliotB256 commented on #22
Added in PR #57

[2021-07-22 17:20] #22 closed

[2021-07-22 17:21] #34 closed

[2021-07-22 17:21] ElliotB256 commented on #30
Added in PR #57

[2021-07-22 17:21] #30 closed

[2021-07-22 17:23] #36 closed

[2021-07-22 17:24] #32 closed

[2021-11-12 19:13] ElliotB256 commented on #14
Any chance to revisit that data now the experiment is operational?

[2021-11-12 19:21] ElliotB256 commented on #14
Tagging @BrianBostwick (hope it lets me)

[2021-11-14 21:07] ElliotB256 opened #60 "Remove the Matlab folder"
Hey @d-garrick,

I noticed your recent merge incorrectly added some matlab code to the repository under the `+util` folder. Can you please delete it? That code should be added to https://github.com/TeamAtomECS/matlab instead.

[2021-11-15 12:16] d-garrick commented on #60
Matlab files have been removed

[2021-11-15 12:16] #60 closed

[2021-11-15 16:39] ElliotB256 commented on #24
https://github.com/TeamAtomECS/AtomECS/commit/05b893ad5a415b627d58114277656909bdfd369a

looks like I forgot about this!

[2021-11-24 20:19] ElliotB256 commented on #3
https://github.com/bevyengine/bevy/issues/2173

[2021-12-06 07:33] necokeine opened #62 "There are some compiling error and more clippy warnings, I want to fix them"
Hi here,

I am new to here, and I want to fix compiling and clippy first, if there is any other issues, I may take one.

[2021-12-06 21:03] minghuaw opened #63 "Publish on crates.io?"
Are you considering publishing this on crates.io? There have been some "bad actors" who claims the crate's name by just publishing an empty crate on crates.io, and you should probably consider claiming this name to avoid any potential issues in the future?

[2021-12-06 23:42] ElliotB256 commented on #62
That would be very welcome, thank you for offering!

I could also add clippy to the CI to maintain going forward

[2021-12-07 05:23] necokeine commented on #62
Thank you for your reply. I created a PR to fix compiling and some clippy.
I can help you to add some git hooks to this repo, is it what you want?

[2021-12-07 14:40] ElliotB256 commented on #63
Thanks for the suggestion! I've done this now for the two important crates:
https://crates.io/crates/atomecs
https://crates.io/crates/atomecs-derive

[2021-12-07 14:40] #63 closed

[2021-12-07 14:40] ElliotB256 commented on #63
(I also updated version to 0.6.0 while we are here!)

[2021-12-07 14:43] ElliotB256 commented on #62
If you have something alreayd that would be very useful, I can add some information to the getting started guide/guide for contributors to also tell them how to run clippy.

[2021-12-09 12:06] ElliotB256 commented on #62
PR merged!

[2021-12-09 12:06] #62 closed

[2021-12-09 12:08] ElliotB256 opened #66 "What are you using AtomECS for?"
Hi,

@tiffanyharte and myself would like to know what other people are using AtomECS for. For planning future features it would be very helpful to know what kinds of experiments people are interested in simulating - so please, anyone, feel welcome to comment on this issue :)

I'll add information from the Oxford setups below and tag others who have been using it.

[2021-12-09 12:18] ElliotB256 commented on #66
# Work at Oxford

* **Sr cold atom source:** simulations to guide design of a source of ultracold strontium atoms for use in the AION project, using the 461nm cooling transition. We are looking at both Zeeman slowers and transverse-loaded 2D MOT sources.
* **AION Sidearm:** we will be using AtomECS to simulate different parts of the sequence by which ultracold strontium is produced for the AION pr

[2021-12-09 12:28] d-garrick commented on #66
As Elliot mentioned, we're simulating the recapture of an atomic flux in a 3D mot. AtomECS is useful for providing capture efficiencies but since we then transition from this MOT to a pure magnetic trap, it would also be useful to accurately simulate the steady state, fully loaded MOT, as well as the compressed MOT stage from ramping detuning & magnetic field to improve loading into the next stage

[2021-12-09 12:43] tiffanyharte commented on #66
### Work at Cambridge

* **AION Sidearm:** As mentioned by Elliot above - in Cambridge we're mainly AtomECS to simulate dipole trapping, evaporative cooling, and optical transport of strontium. We will be optimising experiment parameters and evaporation and acceleration ramps. In future we would also like to fully simulate and optimise the loading process from the end of laser cooling in the narro

[2021-12-13 07:43] minghuaw opened #68 "Consistency of position of magnetic field"
The `QuadrupoleField3D` and `QuadrupoleField2D` have their position associated with an external `Position` component, while `PrecalculatedMagneticFieldGrid` has its position defined internally. I was wondering if there is any reason for such inconsistency?

I guess this could be extended to laser beam as well because `GaussianBeam` also has its "position" (intersection) defined internally.

[2021-12-13 11:24] ElliotB256 commented on #68
You raise a good point, it would sense to make this consistent.

[2021-12-17 04:02] minghuaw opened #69 "Simplifying GaussianBeam power calculation in `from_peak_intensity`"
There are two problems though the converted power in the current implementation is correct.

## First question

https://github.com/TeamAtomECS/AtomECS/blob/f2a58047b5c8650c8b055f9ff0dba1cdd3296fda/src/laser/gaussian.rs#L71

Shouldn't the right hand side be multiplying `e_radius` by `sqrt(2)`?

https://github.com/TeamAtomECS/AtomECS/blob/f2a58047b5c8650c8b055f9ff0dba1cdd3296fda/src/laser/gaussian.r

[2021-12-17 18:19] minghuaw commented on #55
Have you considered using constant generics to pass the control over maximum number of lasers to the user while still having a fixed-length array?

[2021-12-18 09:53] ElliotB256 commented on #55
That's a great idea. There will be a rewrite at some point in the future to support other cooling transitions/models of scattering rates, and we should add the change then.

[2021-12-20 18:06] minghuaw opened #70 "Max number of entities"
There is a known [issue](https://github.com/amethyst/specs/issues/200) related to `specs`, and it is caused by one of its dependencies, [`hibitset`](https://docs.rs/hibitset/0.6.3/hibitset/). This restricts the maximum number of entities to `usize^4` (ie. `32^4` for 32-bit systems or `64^4` for 64-bit systems). I don't think there really is an easy solution other than writing a PR for `hibitset`.

[2021-12-21 08:55] ElliotB256 commented on #70
The long term plan is to move away from `specs` which is no longer actively developed. The likely candidates are either legion (which has the best performance for our tasks) or bevy (which has a larger community). We raised an issue on bevy for their poor parallel fine-grained task performance (it's anywhere between 2-10 times slower than legion, shipyard, hecs, etc) and they are working on fixing

[2021-12-21 17:21] ElliotB256 commented on #69
I think it depends on what you define as the waist, and there are a few different definitions. The current components are defined in terms of the '1/e *radius* of intensity', r_0, such that `I(r) = I_0 exp((-r / r_0)^2)`. A more common definition is the beam waist, w, taken such that this is the beam *diameter* over which the intensity is equal to `I_0 exp(-2)`. They differ by a factor of `2 sqrt(

[2021-12-21 22:56] minghuaw commented on #69
The problem is not really with the waist definition. It's essentially redundant operations (divide by sqrt(2), take the square and then multiply by 2, which cancels out).

[2021-12-21 22:57] minghuaw commented on #70
I was only experimenting with different number of atoms and max_theta and encountered this index out of bound error.

[2021-12-22 06:08] minghuaw commented on #70
(Just throwing random ideas) Would you think there is someway to allow user switchable "ECS backend" by defining some of the common ECS behaviors required by `atomecs` in a trait, and implement this trait for different ECS crates? I haven't done enough research to see whether this is possible.

[2021-12-22 10:06] ElliotB256 commented on #70
Probably not, there are quite a few differences between ECS such as bevy/legion and specs. For instance, in bevy components are just rust structs, they do not need to implement a trait or define a storage type. Systems are created straight from functions,  rather than as a struct with an update method.

[2021-12-27 11:44] ElliotB256 commented on #70
I marked it as wontfix just because the issue will be redundant once we change ECS, see #3.

@minghuaw if you are interested in seeing some of these other ECS packages, I was writing a small demo/game in bevy to explore the syntax, see https://github.com/ElliotB256/bevy_combat

[2021-12-27 11:44] #70 closed

[2022-01-13 13:25] ElliotB256 opened #72 "Magnetic traps"
Add support for magnetic traps.

For the purposes of this issue, this refers to traps where the potential energy can be written in the form `E = g_F \mu_B | B(r) |`, and where B is a real magnetic field. This includes static magnetic field traps, such as quadrupole traps, and traps where the magnetic field is slowly varying, e.g. Time-Orbiting Potential (TOP) traps.

This issue does not include su

[2022-01-13 13:27] ElliotB256 commented on #72
I've added this issue for a bit of book-keeping - it is already supported to some extent in the code but I'd like to have a place for discussion on the implementation and to associate features with the relevant milestones.

@d-garrick can you comment on whether the above is supported? I see also damien added a PR for magnetic fields in #54, which we delayed merging until the rest of the implementa

[2022-01-13 13:59] ElliotB256 commented on #28
#3

[2022-01-13 14:49] ElliotB256 commented on #46
I've added this to the 3D MOT milestone because it's required for doing two-stage cooling for strontium.

[2022-01-13 15:11] ElliotB256 opened #73 "Plugin Workflow"
`bevy` has a really nice implementation of 'Plugins', where you can define individual parts of a program to add/remove. A similar plugin model could be used in AtomECS to add different models of laser cooling, different forces, collisions, etc. This would improve the usability and increase program flexibility (possibly also performance by only running required/declared modules).

Related to #3.

[2022-01-13 15:26] ElliotB256 opened #74 "Shadowing/absorption effects"
At high optical densities, the intensity of cooling light is diminished as it passes through the cold atom sample. This effect can imbalance optical forces, and creates an effective long-ranged interaction between atoms. See e.g. [Gaudesius et al](doi:10.1103/PhysRevA.101.053626) for more information.

There are two sources of absorption to consider:
* For sources with ovens, the dominant optical

[2022-01-14 09:55] d-garrick commented on #72
At the moment the magnetic field sampler calculates a magnetic field strength gradient at the position of each atom, so a trapping force can be calculated for any magnetic field that is defined. The only specific magnetic fields currently implemented are the quadrupole, TOP, and uniform field.

[2022-01-18 23:29] ElliotB256 commented on #46
I've started the [transition_trait](https://github.com/TeamAtomECS/AtomECS/tree/transition_trait) branch to work on this. It doesn't yet compile but I'm close
c506fde

An unintended side effect is that this exposes `specs` lack of a way to clone entities, or produce entities from a template, which has led to some rigidity in how we spawn atoms. Currently atoms use the `AtomicTransition` attached t

[2022-01-19 12:01] ElliotB256 commented on #46
Now compiles and runs the 1dmot example. For now I've left some things hard coded (e.g. only systems added for Sr88)

[2022-01-19 12:01] ElliotB256 commented on #46
Tagging @MauriceZeuner back in

[2022-01-19 12:44] ElliotB256 commented on #46
Added !transition and !species macros:
[code]

[2022-01-19 13:43] ElliotB256 commented on #46
It would be interesting to hear any opinions on this approach. Conceptually I still like the idea - it allows you to define multiple two-level models which can be evaluated independently. It also opens us up to other models in the future, e.g. a Bloch Equation solver for one transition and a two-level solver for another.

[2022-01-19 13:45] ElliotB256 commented on #46
IMO the big issue for now is usability - it makes setting up the systems less 'out of the box'. I think the solution will come in the form of the plugin workflow of #73. That would let you add plugins for e.g. a two-level system on `Rb87_D2`, for instance.

[2022-01-19 13:46] ElliotB256 commented on #46
Appreciate thoughts from @minghuaw

[2022-01-19 16:51] ElliotB256 commented on #46
I need a better way to handle system dependencies for the plugin. Current dependency is indicated by strings, e.g. `calculate_absorption_forces`

[2022-01-19 18:09] ElliotB256 commented on #46
I rewrote the modules to use a Plugin based workflow, e.g.:

[code]
becomes
[code]

[2022-01-19 18:10] ElliotB256 commented on #46
Most of the plugins look similar to this - they register required resources and add required systems:
[code]

[2022-01-19 18:29] ElliotB256 commented on #46
The plugin workflow could be improved to provide extra flexibility - e.g. to add different stages to the dispatcher. Given that we may still change the ECS backend in the future, and bevy already supports solutions for this, let's delay that fix for a while.

[2022-01-19 18:29] ElliotB256 commented on #73
First draft in 37c286f

[2022-01-19 23:41] ElliotB256 commented on #46
Unit tests now working and I've fixed most of the examples. @d-garrick can you take a look at the magnetics examples, I've fixed up the Quadruple trap one - please see the todo note therein about making a `MagneticConfinementPlugin`.

[2022-01-20 00:06] ElliotB256 commented on #46
@d-garrick you will also need aea8a8e

[2022-01-20 11:21] ElliotB256 commented on #46
Checking for performance changes after rewrite:
[code]

current master:
[code]

transitions rewrite:
[code]

So there is a slight performance improvement. This is probably because:
* We can now tailor plugin composition more easily (less overhead from unused systems).
* Transition components now have no size in memory.
* The laser array size can now be tailored for the specific simulation.

[2022-01-20 11:22] ElliotB256 commented on #46
I've also added some ability to resolve interdependencies between plugins - so it will at least panic if you require a plugin you have not yet added.

[2022-01-21 13:00] #72 closed

[2022-01-21 13:01] #73 closed

[2022-01-21 13:41] #46 closed

[2022-01-22 11:44] ElliotB256 commented on #11
Good overview in [Leyuan Wu, Geophys. J. Int.(2018)215,1865–1886](https://watermark.silverchair.com/ggy379.pdf?token=AQECAHi208BE49Ooan9kkhW_Ercy7Dm3ZL_9Cf3qfKAc485ysgAAAsEwggK9BgkqhkiG9w0BBwagggKuMIICqgIBADCCAqMGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMoZSD6UJDpP6O2_DJAgEQgIICdDxn4yXn5lOPKPVJhfBYRZmbJgIDzJGQFPlmthn_PvvNA1JSj3AjrcEdodzevs0dbPJil_kyga-P_NXwoCfI2YjmGe1UKVWRP6O8eQfPOxB_vghW9tHveHyManHzvhc

[2022-01-24 06:48] minghuaw commented on #73
Is there any good reason that `Plugin::build` takes `&self` instead of `self`?

[2022-01-24 11:07] ElliotB256 commented on #73
Good point, it probably should be `self` - the plugin should be consumed by the process, not borrowed

[2022-02-16 06:29] minghuaw opened #76 "Save and load atoms"
What are the states that must be saved if I were to save and then load the atoms and continue the simulation? I have tried saving `OldForce`, `Force`, `Position`, and `Velocity` with the "1d_mot" example but the simulation will yield slightly different results starting from the second step after loading. I have also tried saving some of the samplers but found no luck. Is there any other states tha

[2022-02-23 02:35] YangChemE opened #77 "detuning in molasses"
Hi, new user here. About the 1d molasses example, I'm wondering why is the detuning set as -6 for 87Rb, my understanding is that the unit of the detuning is MHz, and for the molasses of 87Rb atom farther detuning is usually used (compared to -20.8 for the MOT of 87Rb) in experiments. I did test farther detuning (eg, -80) and it did not work well, so I'm wondering what's behind this setting as I'm

[2022-02-28 12:14] ElliotB256 commented on #77
Hey there!

The units are in MHz, the examples are really just supposed to be bare minimum examples to show you how to use the program (it isn't neccessarily the best value for a molasses, for instance). When you say 'it did not work well', do have more details about the scenario you are trying to simulate? -80 MHz for Rb is about 13 linewidths away, so it won't have much of an affect on already s

[2022-03-01 09:31] ElliotB256 commented on #76
Hey @minghuaw, sorry for the delay in replying to this.

In order to know how to save the state of an entity, you need to know what components belong to that entity. So it's worth discussing 'given an entity, what components are on it' first. It's worth highlighting that ECS implementations tend to be either archetypical implementations (e.g. Unity DOTS), which store entities with similar componen

[2022-03-02 03:02] minghuaw commented on #76
Thanks for the reply. I am actually just looking for saving the `Atom`''s states not the entire simulation. The remaining simulations setups will be kept the same.

I have followed `specs` saveload example and saved four states, `Position`, `Velocity`, `Force`, and `OldForce`, which doesn't give me the same position/velocity one step after loaded into a new simulation with the same setup.

Do you

[2022-03-02 14:15] ElliotB256 opened #78 "Using AtomECS for optical transport simulations"
An email from @tevzLotric ,

[code]

To define time-varying quantities you should use the `ramp` API in atomecs - see e.g. the documentation [here](https://docs.rs/atomecs/0.7.1/atomecs/ramp/index.html). It allows you to define the values of components at different points in time, and then linearly ramp between them. You could use the to move the beam focus, change the beam waist, etc. There are m

[2022-03-02 14:19] ElliotB256 commented on #78
Also tagging @BrianBostwick and @cahty1006 from the Cambridge AION team!

[2022-03-02 15:01] d-garrick commented on #78
On the subject of s-wave collisions, I'm currently working on finishing this up. AtomECS currently can already implement s-wave collisions, but it uses a static spatial partition so may be of limited usefulness. The upgrades I'm writing will adapt the spatial partitioning between timesteps to fit the width and density of the cloud. The collision rates agree with theoretical predictions of the coll

[2022-03-03 16:35] tiffanyharte commented on #78
Dipole trap implementation: we're still seeing some results that don't look quite right (looking at trap frequencies) - @cahty1006 and @BrianBostwick are looking into this currently so hopefully soon we'll either confirm everything is fine or identify the problem. We'll also add some more tests at this stage to make sure everything is consistent moving forwards! But just for now I'd be cautious of

[2022-03-04 12:11] tevzLotric commented on #78
Hi, thanks for the response.

There is however still a slight problem I cannot get over - the intersection of a Gaussian Beam is not defined as a component, and so I cannot find a way to let the ramp change it. If I for example try the magnetic quadrupole trap instead, where the position is defined externally, the same ramp implementation works fine. I cannot find a simple way to work around this,

[2022-03-04 19:19] BrianBostwick opened #79 "Dipole trap frequency"
Hey @ElliotB256,

As you are aware, there has been an issue with the trap frequency for the dipole implementation. After some digging, I found a factor of 2 in the spot size definition for the gaussian beam. Removing this factor of 2, the trap frequencies agreed with the calculated trap frequencies.

The issue seems to be line 234 of gassian.rs in get_gaussian_beam_intensity_gradient:
        **2.

[2022-03-04 20:28] ElliotB256 commented on #79
Not sure, you would have to check with @MauriceZeuner https://github.com/TeamAtomECS/AtomECS/blame/34f67e7b4e837d8535710937fc6b841347091fef/src/laser/gaussian.rs#L234

[2022-03-05 13:48] BrianBostwick commented on #79
Okay, thank you. @MauriceZeuner, is there a particular reason there is an extra factor of two here?

[2022-03-07 09:29] ElliotB256 commented on #79
Could the factor of two be related to some inconsistent definition of physical parameters somewhere, eg beam waist diameter versus radius or some polarisation of the light? Brian, perhaps you could post your workings for future readers to see?

(As an aside, the unit test for dipole should be changed - it looks like Maurice used whichever values it produced at the time, presumably after checking i

[2022-03-07 14:30] BrianBostwick commented on #79
It seems like there are two places where there was an extra factor of two. After removing them I get the result that is consistent with the trap frequencies after making the harmonic potential approximation.

This is how get_gaussian_beam_intesity_gradient() is currently defined in /src/laser/gaussian.rs as,

[code]

There is 2.0 in front of spot size which I don't believe should be there as this

[2022-03-08 13:39] BrianBostwick commented on #79
Update to the previous post.

After more digging with @cahty1006, we found that the issue was not the spot size but a factor of two in the vector definition. Here is what we believe the code should look like.

[code]

[2022-03-15 08:55] YangChemE commented on #77
Thanks for the clarification!

[2022-03-15 08:55] #77 closed

[2022-04-09 07:09] minghuaw opened #80 "[Bug] Entity "leak""
## Description of the bug

The oven would "leak" entity if its `max_theta` is larger than zero.

## Cause

An empty entity is created on line 212, which is before the line where whether the atom should be created is checked (line 216). If a non-zero `max_theta` is found, the omitted atoms will leave empty entities that are never deleted and thus causing entities to "leak".

https://github.com/Team

[2022-04-09 07:13] ElliotB256 commented on #80
Thanks for the report! Do you want to raise a PR or should I?

[2022-04-09 08:48] minghuaw commented on #80
Could you please do the PR on the upstream? I have got some uncommitted modifications downstream. Thanks in advance.

[2022-04-22 06:31] YangChemE opened #81 "Evaporation"
Hey Elliot @ElliotB256

I'm trying to simulate a cross beam evaporative cooling in ODT, I have two cross gaussian beam setup, the power of each beam decreases from 5 W to 0.02 W (wavelength: 1064 nm and spot size:  about 35 μm) in a time range of around 6 s. Atoms are initiated at around ~ 50 μK.

My question is, is the density of the atom cloud supposed to be increasing in this whole process? In

[2022-04-22 06:54] ElliotB256 commented on #81
Hey there,

The collision module is still being developed by @DavidGarrick so I'll tag him and see what he has to say. Are you certain your parameters for atom number and temperature will lead to runaway evaporative cooling? If number is too low then the evaporation can fail and the density starts decreasing instead of increasing over time

[2022-04-22 07:15] YangChemE commented on #81
Thanks for the quick reply!

I tried putting 1,000,000 atoms at the beginning (which I guess is enough?) with cloud radius of about 12 μm and T about 50 μK. The density was increasing for about 1 s while the increasing rate getting lower, then start from 1 s, where I still had ~ 600 ,000 atom left, the density started decreasing.
Do you think the way I decrease the beam power could have some effec

[2022-04-22 08:55] ElliotB256 commented on #81
@d-garrick

[2022-04-22 09:34] YangChemE commented on #81
The PSD does go up in whole process, I was simulating Rb, the sigma I used was 3.5e-16, same as in the "top_trap_with_collisions" example.

[2022-04-22 10:07] d-garrick commented on #81
Hi,

As Elliot says this sounds like you aren't getting runaway evap. This could be that the initial density is too low (though 1e6 atoms sounds reasonable), or it could also be that you are evapping too quickly and the cloud doesn't have time to thermalise as atoms are removed.

I am still in the process of improving the collisions system, which includes automatically rescaling the spatial partit

[2022-04-22 10:45] ElliotB256 commented on #81
Cross reference #14

[2022-04-24 02:18] YangChemE commented on #81
@d-garrick Hi,

Thanks a lot for the advice. I'll go through it and see if I get any better results.

[2022-04-26 17:30] ElliotB256 commented on #3
I actually started a bevy port now, you can see progress here:
https://github.com/TeamAtomECS/AtomECS/tree/bevy

[2022-04-28 23:20] ElliotB256 commented on #3
Port is going well, I've done most of the major modules.

Demos can be seen here (in your browser!)
https://teamatomecs.github.io/AtomECSDemos/

[2022-04-28 23:20] ElliotB256 commented on #3
@MauriceZeuner

[2022-04-28 23:23] ElliotB256 commented on #3
Also tagging @YangChemE and @minghuaw , who both may be interested.

I'll finish porting code in that branch before making performance measurements. Some preliminary ones showed the bevy code running twice as fast as the specs code, which surprised me because my benchmarks earlier showed specs was faster. The bevy code _is_ much more compact, it's a significantly nicer API. I am still keeping this

[2022-04-29 23:50] ElliotB256 commented on #3
https://teamatomecs.github.io/AtomECSDemos/aion_source.html

[2022-05-12 01:24] minghuaw commented on #3
This is just a general comment. It seems like `bevy` has got its own set of [shapes](https://docs.rs/bevy/0.7.0/bevy/prelude/shape/index.html). I am wondering whether the port should switch to `bevy`'s shape definitions or stick with the current ones.

[2022-05-12 06:32] ElliotB256 commented on #3
It's a good point! I will check this when back from holiday. We would still want to define our own Shape trait, but possibly implement the trait on these primitives. We probably wouldn't want to define it for all shapes though; bevy's are rendering primitives and so aren't mathematically pure shapes, e.g. the icosphere versus a mathematically defined sphere. Thanks for the suggestion!

What do you

[2022-06-20 20:55] d-garrick commented on #81
Hi,

The number of total cells is the cube of the number along each direction, but the system will only consider boxes that actually contain any atoms. This goes for both the collisions loop and the tracker. Presumably if you check how many atoms are in each box that the tracker outputs, you will find they all contain at least one atom.

[2022-07-26 06:01] YangChemE commented on #81
Hi, Guys
I've been trying to simulate ODT evaporation again recently, but still no luck regards the density trends (it still drops down after increasing a little). So I am describing in detail about my setup here and see if you guys have any advices. Thanks in advance!

I started the simulation with 1e5 particles, the positions and velocities are drawn from normal distributions, the std for the po

[2022-08-01 10:57] ElliotB256 commented on #3
Bevy 0.8 came out a few days ago so I've ported the bevy branch to it. I see a slight performance improvement on the benchmark:

[code]

[2022-08-26 06:59] ElliotB256 commented on #79
Hi Brian,

It looks like the existing unit tests were not updated, so the program currently fails to pass tests. Could you push a fix for merging? (I think it's just the factor of two needs updating in the unit test aswell)

Thanks!
Elliot

[2022-09-14 10:30] BrianBostwick opened #86 "definition of beam radius in gaussian intensity"
I think that these are not properly defined,

https://github.com/TeamAtomECS/AtomECS/blob/79147a4b74dfbbf34c9bf8ea274c0d57f9436336/src/laser/gaussian.rs#L71
https://github.com/TeamAtomECS/AtomECS/blob/79147a4b74dfbbf34c9bf8ea274c0d57f9436336/src/laser/gaussian.rs#L72

and

https://github.com/TeamAtomECS/AtomECS/blob/79147a4b74dfbbf34c9bf8ea274c0d57f9436336/src/laser/gaussian.rs#L105
https://github

[2022-09-14 10:31] #79 closed

[2022-09-14 11:21] ElliotB256 commented on #86
For some clarity I'll redefine some relations here.

Taking an infinite Rayleigh range, the gaussian intensity in the program is defined as:
[code]
as (the `1/rayleigh_range` terms go to zero for infinite range).

Rewriting this in symbolic terms:
[code]

## Re-deriving the above

We define the gaussian intensity as:
[code]
where the constant r_0 is defined as the 1/e-radius of the intensity (**NO

[2022-09-14 11:22] ElliotB256 commented on #86
(Also I feel slightly mad, maybe my brain has already run out today. In your post above, is there anything different between your lines of what they are previously and what they should be? I can't see the difference!)

[2022-09-14 12:29] BrianBostwick commented on #86
Yes, I agree.  For some reason when I look at this it makes me think that std is the e^2 radius (which is why I suggested the change / -> *) and the 2 pre-factor should be a 1/2 then. I think I was confused by the factors of 2 in there. Is there a reason why they have been added? Since,

power = (e_radius)^2 *  pi * I

Why not just put that in there directly.

[2022-09-16 09:59] BrianBostwick commented on #86
No that makes sense, I agree, I don't think it's worth going through and changing everything now. What did you have in mind when it comes to

My comment had more to do with why there is a value called "std" it seems like it is just adding a factor of sqrt two to remove the two in the next line. It was confusing because it makes it look like e_radius is actual e^2_radius when its not. So I wanted t

[2022-09-16 11:50] ElliotB256 commented on #86
It does look like there is some redundancy here and you are right that it could be simplified. I guess it's defining the standard deviation and then using a textbook result for the area under a gaussian curve.

Let's close the issue and discuss API changes in the other issue.

[2022-09-16 11:55] #86 closed

[2022-09-16 11:58] BrianBostwick commented on #69
This is the is the same issue that we just closed @ElliotB256, I am going to create a pull request for this now.

[2022-09-16 11:59] BrianBostwick commented on #69
Also, we can probably close this issue as well now.

[2022-09-20 06:34] #69 closed

[2022-10-17 17:57] BrianBostwick opened #89 "Using the ramp crate"
Hi @ElliotB256, Tiffany informed me that you might not be receiving my emails. I was hoping we could talk about using the ramp.rs for the evaporative cooling. I have been unable to get it to work correctly, so I wrote my own, but I am concerned that how I am ramping is causing some severe slowing of my simulations. If you could email me at blb42@cam.ac.uk, I would appreciate it.

[2022-10-17 18:11] ElliotB256 commented on #89
Hi Brian!

I am indeed having some issues with my old nexus account. It seems like the email forwarding is unreliable, - some days it works, some days (e.g. today!) it does not. But it also doesn't give any delivery failure notice which is concerning :/

Let's have the discussion here because then it provides something that others can search in the future :)

What have you done so far in trying to

[2022-10-19 14:49] BrianBostwick commented on #89
Hey Elliot,

Sounds good, we can just continue here.

Yes, I have looked through the #tests for the ramp but have been unable to translate that into the proper syntax for my simulation. To start, I do not understand how to add the RampUpdateSystem using the new simulation builder, do I need to write a plugin for Ramp?

This is my current Atomics simulation: (without ramp)
https://github.com/BrianB

[2022-10-19 16:53] ElliotB256 commented on #89
`GaussianBeam` implements `Lerp` already, so you only need to add the `RampUpdateSystem` as you have and add the values the `GaussianBeam` component should take at each different time. The convention in rust is to use the `new` function if it exists, e.g. `Ramp::new(keyframes)` to create your ramp component.

What you have done looks correct. To check, do you have a `Step` resource in your simulat

[2022-10-25 20:39] BrianBostwick commented on #89
Hi Elliot,

So I got a working example for a ramp of the laser power; thank you for the suggestions! I had a question; why do you only need to give the ramp GaussianBeam and not a specific Entity, say gaussain_beam = GaussianBeam{...}? Also, in my example, I could not pass the same ramp and frames to more than one beam without repeating the code; I tried using the & to ref. But it did not work.

H

[2022-10-25 23:03] ElliotB256 commented on #89
The `Ramp<T>` component is attached to the entity you want to ramp - it will ramp the component of type `T` on that entity. So you could define `Ramp<Position>` and attach that to an entity to linearly interpolate it's `Position`, for instance.

This is because `Ramp<T>` doesn't implement the `Copy` or `Clone` traits. Remember that components are structs, and must be stored in the component storag

[2022-10-27 10:38] BrianBostwick commented on #89
I see; thank you!

Okay, this makes sense, but it did not support the Copy trait. I was able to use `ramp.clone()`, but I don't fully understand the distinction. It has to do with how the component is stored in memory and its complexity of it. Is that right?

Should I push it then once I have added some comments?

[2022-11-01 21:33] ElliotB256 commented on #89
Yes please! (Apologies, I thought I had replied from my phone but it appears to not have posted it!)

[2022-11-19 13:06] #89 closed